@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">

        <div class="row">

            <div class="col-md-12">

                <h1 class="display-4">New Horizons Studio</h1>

                <h5 style="text-align:left">Quality Piano Lessons That Fit Your Schedule</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius tortor ac sem condimentum mattis.
                    Nullam ultricies, leo vitae cursus pretium, erat leo varius augue, at rutrum leo felis in sapien.
                    Curabitur condimentum viverra blandit. Etiam vestibulum auctor ornare. Morbi in fringilla lectus.
                    Nunc sem ex, fringilla sed tortor ac, eleifend tristique arcu. Pellentesque massa ipsum, sodales vitae metus vitae, semper blandit lectus.
                </p>

                <h5 style="text-align:left">About Me</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed varius tortor ac sem condimentum mattis.
                    Nullam ultricies, leo vitae cursus pretium, erat leo varius augue, at rutrum leo felis in sapien.
                    Curabitur condimentum viverra blandit. Etiam vestibulum auctor ornare. Morbi in fringilla lectus.
                    Nunc sem ex, fringilla sed tortor ac, eleifend tristique arcu. Pellentesque massa ipsum, sodales vitae metus vitae, semper blandit lectus.
                </p>

            </div>

        </div>

    </div>
